.pageHeader {
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 700;
  margin-top: -15%;
  margin-bottom: 15%;
}
.contactForm {
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
}

.formContainer {
  width: 80%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 10%;
  border-radius: 20px;
  z-index: 1;
  background-color: white;
}

#submitButton {
  font-family: inherit;
  font-weight: 900;
  font-size: 20px;
  background-color: var(--blue);
  color: var(--white);
  border: none;
  outline: none;
  border-radius: 30px;
  transition: 0.3s;
  cursor: pointer;
  align-self: center;
  padding-top: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 30px;
}

#submitButton:hover {
  background-color: var(--white);
  color: var(--blue);
  transition: 0.3s;
}
.formField {
  width: 90%;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px;
}
.formLabel {
  font-weight: bold;
  margin-right: 10px;
  font-size: 18px;
  margin: 10px;
}

.thankYou {
  font-size: 13px;
  padding: 30px;
}

#BankNote-Img-4 {
  position: absolute;
  top: 500px;
  right: -100px;
  max-width: 600px;
  z-index: -1;
}
