.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  overflow-x: hidden;
  position: sticky;
  top: 0;
  left: 0;
  padding-left: 5%;
  padding-right: 5%;
  height: 60px;
  background: transparent;
  z-index: 11;
  transition: 0.5s;
}

.scrolled {
  background: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.header-logo {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: -2px;
  color: white;
}

.header-logo.scrolledText {
  color: black;
}
.header-link-list.scrolledText {
  color: black;
}

.header-link-list {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the items horizontally */
  padding-left: 0;
  padding-right: 0;
  letter-spacing: -1px;
  color: white;
}

.header-link-list li {
  list-style-type: none;
  display: inline;
  font-size: 14px;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
  transition: 0.1s;
}
.header-link-list li:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
  transition: 0.1s;
}

.getStartedHeader {
  font-weight: 900;
  font-size: 15px;
  background-color: transparent;
  color: var(--white);
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 40px;
  transition: 0.3s;
  margin-left: 15px;
}
.getStartedHeader:hover {
  color: var(--black);
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}
.getStartedHeader.scrolledText {
  color: black;
  border: 1px solid black;
}

.links {
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
}
