.landing-container {
  min-height: 76vh;
  display: flex;
  flex-direction: column;
  padding-top: 5%;
  z-index: 0;
  background: rgba(255, 89, 94, 0);
  background: linear-gradient(
    180deg,
    rgba(109, 152, 186, 1) 80%,
    rgba(255, 89, 94, 0) 20%
  );
}

#BankNote-Img-1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 550px;
  margin-left: -250px;
  margin-top: -50px;
  pointer-events: none;
}
#BankNote-Img-2 {
  position: absolute;
  top: 40%;
  right: 0;
  z-index: 1;
  max-width: 400px;
  margin-bottom: 100px;
  margin-right: -150px;
  pointer-events: none;
}

.landing-headers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  margin-top: -30px;
  padding-left: 20%;
  padding-right: 20%;
}

#landing-header {
  font-size: 65px;
  font-weight: 600;
  color: var(--white);
  text-align: center;
  pointer-events: none;
}

.landing-tagline {
  font-weight: 400;
  font-size: 30px;
  padding: 0;
  margin: 0;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  color: white;
  pointer-events: none;
}

.getStarted {
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  outline: none;
  border-radius: 5px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
  margin-top: 40px;
  text-decoration: none;
}

.getStarted:hover {
  color: var(--blue);
  background-color: var(--white);
  transition: 0.3s;
  cursor: pointer;
}

.wavyTransition {
  background-color: white;
  padding-bottom: 100px;
}

/*****************************LAPTOP*********************/

@media (max-width: 1024px) {
  #landing-header {
    font-size: 55px;
    padding-top: 50px;
  }
  #BankNote-Img-1 {
    width: 40%;
    margin-left: -150px;
    margin-top: 50px;
  }
  #BankNote-Img-2 {
    max-width: 35%;
    margin-bottom: 200px;
    margin-right: -50px;
  }
}

/************************TABLET*********************/
@media (max-width: 768px) {
  .landing-headers-container {
    margin-top: -20px;
    padding-left: 15%;
    padding-right: 15%;
  }
  #BankNote-Img-1 {
    width: 40%;
    margin-left: -100px;
    margin-top: 50px;
  }
  #BankNote-Img-2 {
    max-width: 35%;
    margin-bottom: 200px;
    margin-right: -50px;
  }

  #landing-header {
    font-size: 45px;
    padding-top: 50px;
  }
  .landing-tagline {
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
  }
  .wavyTransition {
    margin-top: 40px;
  }
  .getStarted {
    font-size: 16px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}

/************************MOBILE*********************/
@media (max-width: 480px) {
  .landing-headers-container {
    margin-top: -20px;
  }
  #BankNote-Img-1 {
    width: 40%;
    margin-left: -100px;
    margin-top: 50px;
  }
  #BankNote-Img-2 {
    max-width: 35%;
    margin-bottom: 200px;
    margin-right: -50px;
  }

  #landing-header {
    font-size: 35px;
    padding-top: 50px;
  }
  .landing-tagline {
    font-size: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .wavyTransition {
    margin-top: 40px;
  }
  .getStarted {
    font-size: 16px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 18px;
    padding-bottom: 18px;
  }
}
