.sectionContainer {
  margin-top: 40px;
  margin-bottom: 10%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  height: 40vh;
}
.sectionContainerR {
  margin-top: 40px;
  margin-bottom: 10%;
  padding: 30px;
  display: flex;
  flex-direction: row;
  vertical-align: middle;
  height: 40vh;
}

.sectionImage {
  width: 600px;
  height: 400px;
  object-fit: cover;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-self: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-left: 2%;
  margin-right: 2%;
  gap: 20px;
}

.sectionHeader {
  font-size: 36px;
  font-weight: 700;
  color: var(--blue);
}

.sectionBody {
  padding-bottom: 40px;
  font-weight: 300;
  max-width: 80%;
}

.sectionLink {
  text-decoration: none !important;
  padding: 20px;
  border: 1px solid var(--blue);
  color: var(--blue);
  border-radius: 5px;
  transition: 0.3s;
  max-width: 80%;
}
.sectionLink:hover {
  background-color: var(--blue);
  color: white;
  border-radius: 1px;
  transition: 0.3s;
}

/*****************************LAPTOP*********************/

@media (max-width: 1024px) {
  .sectionContainer {
    margin-top: 30%;
    margin-bottom: 10%;
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
    vertical-align: middle;
    justify-content: center;
    height: 50vh;
  }
  .sectionContainerR {
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    height: 40vh;
  }
  .sectionImage {
    width: 80%;
    height: 250px;
  }
  .contentContainer {
    margin-top: 20px;
    margin-left: 2%;
    margin-right: 2%;
    gap: 0px;
  }

  .sectionHeader {
    font-size: 30px;
    font-weight: 700;
  }

  .sectionBody {
    padding-bottom: 0px;
    font-weight: 300;
  }
}

/************************TABLET*********************/
@media (max-width: 768px) {
  .sectionContainer {
    margin-top: 300px;
  }
  .sectionContainerR {
    margin-top: 20px;
  }
}

/************************MOBILE*********************/
@media (max-width: 480px) {
  .sectionContainerR {
    margin-top: 10px;
  }
  .sectionContainer {
    margin-top: 400px;
  }
}
