@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;900&display=swap');
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  max-width: 100%; 
  overflow-x: hidden; 
}

:root {
  --blue: #6D98BA;
  --white: #f9f9f9;
  --black: #070707; 
  --accentRed: #FF595E; 
}
