@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: -1px;
  max-width: 100%;
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}

:root {
  --blue: #6d98ba;
  --white: #f9f9f9;
  --black: #070707;
  --accentRed: #ff595e;
}
